<html>
<head>
<link href="/src/styles.css" rel="stylesheet">
    <script>
    $('.message a').click(function(){
   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
});
        
   
    </script>
    </head>
<body>
    <div class="login-page">
  <div class="form">
    <h1 align="center">Login</h1>
    <form class="lf" id="lfq">
      <input type="text" placeholder="username"/>
      <input type="password" placeholder="password"/>
      <button>login</button>
      <p class="message" id="log">Not registered? <a routerLink="reg" >Create an account</a></p>
    </form>
  </div>
</div>
    </body>
</html>